<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title> {{ site.title}} - {{ site.tagline }}
        {% if page.title %}
           :: {{ page.title }} 
         {% endif %}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	
	
	<!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<!-- end: Mobile Specific -->

    <!-- start: CSS -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/flat-ui.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/honey.css">
    <!-- end: CSS -->

    <!-- start: browser tab icon -->
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/images/favicon.ico">
	<!-- end: icon -->

	<!--  Yellow color for hive -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/color.css">

    {% if page.d3 %}
    <script src="http://d3js.org/d3.v2.min.js"></script>
    {% endif %}
    <script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
    </script>

</head>

<body>
<header id="header">

	<!--start: navbar -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
					<span><i class="icon-reorder"></i></span>
				</a>
				<a class="brand">{{site.title}} - {{site.tagline}}</a>

                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                <div class="nav-collapse collapse" id="nav-collapse-01">
                  <ul class="nav">
                    {% for item in site.navbar %}
					<li>
                      <a href="{{item.link}}">
                         {{item.name}} 
			 			 {% if item.menu != null %}
						 <b class="caret"></b>
			 			 {% endif %}
                      </a>
		 			  {% if item.menu != null %}
                        <ul>
                        {% for subitem in item.menu %}
						<li><a href="{{subitem.link}}">{{subitem.label}}</a>
                          {% if subitem.submenu != null %}
                            <ul>
                              {% for subsubitem in subitem.submenu %}
                                <li><a href="{{subsubitem.link}}">{{subsubitem.label}}</a></li>
                              {% endfor %}
                            </ul> <!-- /Sub menu -->
                          {% endif %}
						  </li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
					{% endfor %}
                  </ul>
                </div><!-- nav -->
			</div>
		</div>
	</div><!--end: navbar -->
</header>

	    <div class="hive-grid hive-grid-inset">
          {% for item in page.contents %}
			{% if item.location == 'center' %}
	        <!--  HERO -->
	        <div style="margin-left: -126.5px; margin-top: -146.07px; z-index: 3;" class="patch hero-patch">
	        	<a href="{{item.link}}" class="tip" style="background-image: url('{{ ASSET_PATH }}/{{item.image}}');">
					<span>{{item.description}}</span></a>
	        </div>
			{% endif %}
			{% if item.location == 'upper_left' %}
	        <!--  upper left hex -->
	        <div style="margin-left: -253px; margin-top: -365.174px; z-index: 1;" class="patch">
	        	<a href="{{item.link}}" class="tip" style="background-image: url('{{ ASSET_PATH }}/{{item.image}}');">
					<span>{{item.description}}</span></a>
	        </div>
			{% endif %}
			{% if item.location == 'upper_right' %}
	        <!--  upper right hex -->
	        <div style="margin-left: 0px; margin-top: -365.174px; z-index: 1;" class="patch">
	        	<a href="{{item.link}}" class="tip" style="background-image: url('{{ ASSET_PATH }}/{{item.image}}');">
					<span>{{item.description}}</span></a>
	        </div>
			{% endif %}
			{% if item.location == 'center_left' %}
	        <!--  center left hex -->
	        <div style="margin-left: -379.5px; margin-top: -146.07px; z-index: 1;" class="patch">
	        	<a href="{{item.link}}" class="tip" style="background-image: url('{{ ASSET_PATH }}/{{item.image}}');">
					<span>{{item.description}}</span></a>
	        </div>
			{% endif %}
			{% if item.location == 'center_right' %}
	        <!--  center right hex -->
	        <div style="margin-left: 126.5px; margin-top: -146.07px; z-index: 1;" class="patch">
	        	<a href="{{item.link}}" class="tip" style="background-image: url('{{ ASSET_PATH }}/{{item.image}}');">
					<span>{{item.description}}</span></a>
	        </div>
			{% endif %}
			{% if item.location == 'lower_left' %}
	        <!--  lower left hex -->
	        <div style="margin-left: -253px; margin-top: 73.0348px; z-index: 1;" class="patch">
	        	<a href="{{item.link}}" class="tip" style="background-image: url('{{ ASSET_PATH }}/{{item.image}}');">
					<span>{{item.description}}</span></a>
	        </div>
			{% endif %}
			{% if item.location == 'lower_right' %}
	        <!--  lower right hex -->
	        <div style="margin-left: 0px; margin-top: 73.0348px; z-index: 1;" class="patch">
	        	<a href="{{item.link}}" class="tip" style="background-image: url('{{ ASSET_PATH }}/{{item.image}}');">
					<span>{{item.description}}</span></a>
	        </div>
			{% endif %}
          {% endfor %}
	    </div>


    <!-- start: footer -->
	<div class="post-footer">
		<div class="container">
			<div class="row">
					<div class="span7">
						<div class="copyright">{{ site.copyright }}</div>
					</div>
					<div class="span5">
						<ul class="footer-links">
							{% for item in site.footer_social %}
							<li>
								<a class="thumbnail-social-icon" title='{{item.type}}' href="{{item.link}}"><img alt="" src="{{ ASSET_PATH }}/{{item.image}}"></a>
							</li>
				            {% endfor %}
						</ul>
					</div>
			</div>
		</div>
	</div>
<!-- end: footer -->

	    {% include JB/comments %}
	    {% include JB/analytics %}

    </body>
</html>