    <div class="outer skill">
        <div class="skill-patch-grid skill-patch-grid-inset">
            <!--  HERO -->
            <div style="margin-left: -126.5px; margin-top: -146.07px; z-index: 3;" class="patch hero-patch">
            	<a style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/frontenddev_253x292.png);"></a>
            	<div class="blank"></div>
            </div>
            <!--  lower right hex -->
            <div style="margin-left: 0px; margin-top: 73.0348px; z-index: 1;" class="patch">
            	<a href="https://diy.org/skills/backenddev" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/backenddev_253x292.png);"></a>
            	<div class="blank"></div>
            </div>
            <!--  center right hex -->
            <div style="margin-left: 126.5px; margin-top: -146.07px; z-index: 1;" class="patch">
            	<a href="https://diy.org/skills/circuitbender" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/circuitbender_253x292.png?2);"></a>
            	<div class="blank"></div>
            </div>
            <!--  upper right hex -->
            <div style="margin-left: 0px; margin-top: -365.174px; z-index: 1;" class="patch">
            	<a href="https://diy.org/skills/cryptographer" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/cryptographer_253x292.png);"></a>
            	<div class="blank"></div>
            </div>
            <!--  upper left hex -->
            <div style="margin-left: -253px; margin-top: -365.174px; z-index: 1;" class="patch">
            	<a href="https://diy.org/skills/datavisionary" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/datavisionary_253x292.png?);"></a>
            	<div class="blank"></div>
            </div>
            <!--  center left hex -->
            <div style="margin-left: -379.5px; margin-top: -146.07px; z-index: 1;" class="patch">
            	<a href="https://diy.org/skills/detective" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/detective_253x292.png);"></a>
            	<div class="blank"></div>
            </div>
            <!--  lower left hex -->
            <div style="margin-left: -253px; margin-top: 73.0348px; z-index: 1;" class="patch">
            	<a href="https://diy.org/skills/entrepreneur" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/entrepreneur_253x292.png);"></a>
            	<div class="blank"></div>
            </div>
            <!--  
            <div style="margin-left: 253px; margin-top: 73.0348px; z-index: 1;" class="patch">
            	<a href="https://diy.org/skills/gamedev" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/gamedev_253x292.png);"></a>
            	<div class="blank"></div>
            </div>
            <div style="margin-left: 253px; margin-top: -365.174px; z-index: 1;" class="patch">
            	<a href="https://diy.org/skills/gamer" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/gamer_253x292.png?2);"></a>
            	<div class="blank"></div>
            </div>
            <div style="margin-left: -506px; margin-top: -365.174px; z-index: 1;" class="patch">
            	<a href="https://diy.org/skills/hardwarehacker" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/hardwarehacker_253x292.png?2);"></a>
            	<div class="blank"></div>
            </div>
            <div style="margin-left: -506px; margin-top: 73.0348px; z-index: 1;" class="patch">
            	<a href="https://diy.org/skills/n00b" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/n00b_253x292.png?2);"></a>
            	<div class="blank"></div>
            </div>
            <div style="margin-left: 379.5px; margin-top: -146.07px; z-index: 1;" class="patch">
            	<a href="https://diy.org/skills/opensourcerer" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/opensourcerer_253x292.png);"></a>
            	<div class="blank"></div>
            </div>
            <div style="margin-left: -632.5px; margin-top: -146.07px; z-index: 1;" class="patch">
            	<a href="https://diy.org/skills/prankster" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/prankster_253x292.png);"></a>
            	<div class="blank"></div>
            </div>
            <div style="margin-left: 506px; margin-top: 73.0348px; z-index: 1;" class="patch">
            	 <a href="https://diy.org/skills/sensorhacker" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/sensorhacker_253x292.png);"></a>
            	 <div class="blank"></div>
             </div>
             <div style="margin-left: 506px; margin-top: -365.174px; z-index: 1;" class="patch">
            	 <a href="https://diy.org/skills/sysadmin" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/sysadmin_253x292.png);"></a>
            	 <div class="blank"></div>
             </div>
             <div style="margin-left: -759px; margin-top: -365.174px; z-index: 1;" class="patch">
            	 <a href="https://diy.org/skills/webdesigner" style="background-image: url(https://d1973c4qjhao9m.cloudfront.net/patches/webdesigner_253x292.png);"></a>
            	 <div class="blank"></div>
             </div>
             -->
		 </div>
		 <div class="inner">
             <header class="skill-header">
            	 <div class="row">
            		 <div class="skill-summary span10 offset1">
                         <h1 class="lrg-heading">Frontend Dev</h1>
                         <p>Frontend Developers code the HTML, CSS and Javascript elements that make up websites. We push the limits of what can be built on the web.</p>
            		 </div>
            	 </div>
             </header>
		 </div>
            
